{#
/**
 * @file
 * Main site footer.
 * Always renders structural markup for debugging and CSS recovery.
 */
#}

<footer class="mel-site-footer mel-site-footer--main" role="contentinfo">
  <div class="mel-site-footer__inner mel-container">

    <div class="mel-footer__top mel-footer-grid">
      <div class="mel-footer__col mel-footer__col--brand mel-footer-col">
        {{ page.footer_brand }}
      </div>

      <div class="mel-footer__col mel-footer__col--attendees mel-footer-col">
        {{ page.footer_attendees }}
      </div>

      <div class="mel-footer__col mel-footer__col--organisers mel-footer-col">
        {{ page.footer_organisers }}
      </div>

      <div class="mel-footer__col mel-footer__col--support-legal mel-footer-col">
        {{ page.footer_support_legal }}
      </div>
    </div>

    <div class="mel-footer__ack">
      {{ page.footer_ack }}
    </div>

    <div class="mel-footer__payments">
      {{ page.footer_payments }}
    </div>

    <div class="mel-footer__bottom">
      {{ page.footer_bottom }}
    </div>

  </div>
</footer>
