{#
/**
 * @file
 * Theme override for the main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menu %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menu %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('mel-nav') }}>
    {% else %}
      <ul class="mel-nav-dropdown-menu">
    {% endif %}
    {% for item in items %}
      {# Determine if this is a dropdown parent (level 0 with children) #}
      {% set has_dropdown = menu_level == 0 and item.below %}
      {%
        set classes = [
          menu_level == 0 ? 'mel-nav__item' : '',
          has_dropdown ? 'mel-nav-dropdown' : '',
          item.is_expanded ? 'mel-nav__item--expanded',
          item.is_collapsed ? 'mel-nav__item--collapsed',
          item.in_active_trail ? 'mel-nav__item--active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if has_dropdown %}
          {# Dropdown toggle button #}
          <button class="mel-nav__link mel-nav-dropdown-toggle" aria-expanded="false" aria-haspopup="true">
            {{ item.title }}
            <svg class="mel-dropdown-arrow" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 4.5L6 7.5L9 4.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          {{ menu.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          {# Regular link #}
          {%
            set link_classes = [
              menu_level == 0 ? 'mel-nav__link' : 'mel-nav-dropdown-link',
              item.in_active_trail ? 'is-active',
            ]
          %}
          {{ link(item.title, item.url, {'class': link_classes}) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
